.hero-banner .AbtPics{
    position: relative;
}

.hero-banner h1 {
    font-size: 48px;
}
.hero-banner .btn {
    position: absolute;
    overflow: hidden;
    padding: 12px 24px;
    font-size: 16px;
    background-color: transparent;
    top: 100%;
    left: 40%;
    border: 2px solid blue;
    cursor: pointer;
    border-radius: 5px;
    color: black;
}

.hero-banner .AbtPics img{
    width: 150;
}

/*
.hero-banner .btn-primary {
    position: absolute;
    color: #2f2f41;
    background-color: rgba(1, 164, 121, 0.1);
    border-color: #01a479;
}}*/


